*.kate-swp
*.ninja*
*.orig
*.prg
*.pro
*.pro.user.*
*.qmlproject.user.*
*.swp
*.taghl
*~
.clang_complete
.custom_vimrc
/.buildSettings
/.cproject
/.project
/Makefile
/lib
/install
/tags
/tags.new
CMakeCache.txt
CMakeFiles
cmake_install.cmake
nbproject/
